# Install Libraries and Download Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import plotly.express as px

import datetime

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/smartwatch.csv")

# Examine and Clean data

In [ ]:
df

,index,source,timestamp,values
0,164349,battery,2017-06-29 07:45:56.262,['98']
1,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']"
2,164351,gravity,2017-06-29 07:46:01.324,"['-0.34131828', '0.6573288', '9.778641']"
3,164352,linear_acceleration,2017-06-29 07:46:01.329,"['-0.018068999', '0.034808993', '-0.033065796']"
4,164353,gyroscope,2017-06-29 07:46:01.402,"['0.0041656494', '-0.0132751465', '0.006164551']"
...,...,...,...,...
200466,164346,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']"
200467,150770,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"
200468,164347,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"
200469,150771,pressure,2017-07-13 20:21:36.105,['989.3108']
200470,164348,pressure,2017-07-13 20:21:36.105,['989.3108']

In [ ]:
df.source.unique()

array(['battery', 'accelerometer', 'gravity', 'linear_acceleration',
       'gyroscope', 'pressure', 'orientation', 'magnetometer',
       'rotation_vector', 'heart_rate', 'step_counter', 'step_detector'],
      dtype=object)

In [ ]:
#removing data from sensors not needed in my implemenation 
df = df[df.source.isin(['accelerometer', 'linear_acceleration', 'heart_rate', 'step_counter']) == True]
df.source.unique()

array(['accelerometer', 'linear_acceleration', 'heart_rate',
       'step_counter'], dtype=object)

In [ ]:
#ordering sequentially by timestamp 
df = df.sort_values(by='timestamp')
df

,index,source,timestamp,values
1,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']"
3,164352,linear_acceleration,2017-06-29 07:46:01.329,"['-0.018068999', '0.034808993', '-0.033065796']"
9,164358,heart_rate,2017-06-29 07:46:05.590,"['173.0', '0']"
10,164359,accelerometer,2017-06-29 07:46:06.270,"['-0.4410553', '0.7886505', '9.872787']"
11,164360,linear_acceleration,2017-06-29 07:46:06.351,"['0.011193424', '-0.0062996745', '0.004644394']"
...,...,...,...,...
200464,150768,heart_rate,2017-07-13 20:21:35.020,"['55.0', '1']"
200465,150769,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']"
200466,164346,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']"
200467,150770,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"
200468,164347,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"

In [ ]:
heart_rate = df[df.source.isin(['heart_rate']) == True]
accelerometer = df[df.source.isin(['accelerometer']) == True]
linear_acceleration = df[df.source.isin(['linear_acceleration']) == True]
steps = df[df.source.isin(['step_counter']) == True]

In [ ]:
df = df.reset_index(drop=True)
df

,index,source,timestamp,values
0,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']"
1,164352,linear_acceleration,2017-06-29 07:46:01.329,"['-0.018068999', '0.034808993', '-0.033065796']"
2,164358,heart_rate,2017-06-29 07:46:05.590,"['173.0', '0']"
3,164359,accelerometer,2017-06-29 07:46:06.270,"['-0.4410553', '0.7886505', '9.872787']"
4,164360,linear_acceleration,2017-06-29 07:46:06.351,"['0.011193424', '-0.0062996745', '0.004644394']"
...,...,...,...,...
107143,150768,heart_rate,2017-07-13 20:21:35.020,"['55.0', '1']"
107144,150769,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']"
107145,164346,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']"
107146,150770,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"
107147,164347,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']"

In [ ]:
print(type(df['timestamp'][1]))
date_time_str = df['timestamp'][1]
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')
print(type(date_time_obj)) 

print("")

print(date_time_obj)
date_time_obj = date_time_obj + datetime.timedelta(0,10)
print(date_time_obj)

<class 'str'>
<class 'datetime.datetime'>

2017-06-29 07:46:01.329000
2017-06-29 07:46:11.329000

In [ ]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

# Testing Data Simulation

In [ ]:
def simulate_data_stream(data, s, next):
    chunk = data.iloc[next:len(df)]

    timestamp = data['timestamp'][next]
    timestamp_new = timestamp + datetime.timedelta(0,s)

    chunk = chunk[chunk['timestamp'] <= timestamp_new]
    
    return chunk

In [ ]:
s = 10 
next = 0 
while(next<(len(df)-1000)):
    chunk=simulate_data_stream(df,s,next)
    next=next+len(chunk)

chunk

,index,source,timestamp,values
106146,149880,step_counter,2017-07-13 19:27:01.879,['8.0']
106147,163457,step_counter,2017-07-13 19:27:01.879,['8.0']
106148,149885,accelerometer,2017-07-13 19:27:01.934,"['-0.29501343', '-8.012436', '5.708069']"
106149,163462,accelerometer,2017-07-13 19:27:01.934,"['-0.29501343', '-8.012436', '5.708069']"
106150,149887,heart_rate,2017-07-13 19:27:07.721,"['73.0', '1']"
106151,163464,heart_rate,2017-07-13 19:27:07.721,"['73.0', '1']"
106152,149888,heart_rate,2017-07-13 19:27:09.778,"['72.0', '1']"
106153,163465,heart_rate,2017-07-13 19:27:09.778,"['72.0', '1']"
106154,163466,heart_rate,2017-07-13 19:27:10.771,"['70.0', '1']"
106155,149889,heart_rate,2017-07-13 19:27:10.771,"['70.0', '1']"

In [ ]:
heart_rate = chunk[chunk.source.isin(['heart_rate']) == True]
accelerometer = chunk[chunk.source.isin(['accelerometer']) == True]
linear_acceleration = chunk[chunk.source.isin(['linear_acceleration']) == True]
steps = chunk[chunk.source.isin(['step_counter']) == True]

for index, row in heart_rate.iterrows():
  print(row['values'])

['73.0', '1']
['73.0', '1']
['72.0', '1']
['72.0', '1']
['70.0', '1']
['70.0', '1']